<!DOCTYPE html>
<html>
<body>

<h2 style="text-align: center;">Bitcoin Testnet Blockchain Explorer</h2>

<form style="text-align: center;" action="/">
  <label for="fname">Enter a Block's height:</label><br>
  <input type="text" id="height" name="height" value=""><br>
  <input type="submit" value="View Block">
</form> 

{% if result %}
<p>{{result}}</p>
{% endif %}

{% if block %}
<p>Details of Block {{block.height}}:</p><p>
{% for x, y in block.items %}
{% if x != "tx" %}
{{x}}: {{y}}<br>
{% endif %}
{% endfor %}
<br></p>
<p>Transactions:</p><p>
{% for x in block.tx %}
<p>{{forloop.counter}}. {{x}}</p>
{% endfor %}
{% endif %}

</body>
</html>

